@model IEnumerable<Employment.Frontend.Models.Country>;
@{
    ViewData["Title"] = "Index";
    int idno = 1;
}
<div class="container border mt-5 p-3">
    <p class="text-center">
        <a class="btn btn-primary" asp-action="AddorEdit"><i class="fa-solid fa-plus"></i> Create New</a>
    </p>

    <table class="table" id="countryTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CountryName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @idno
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.countryName)
                        </td>
                        <td class"text-end">
                            <a class="btn btn-success">Edit</a>
                            <a class="delete-button btn btn-danger" href="Country/Delete/@item.id" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa-solid fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                    idno++;
                }
            }
        </tbody>
    </table>
</div>

